code.copy, textarea.paste {
    flex: 1 1 auto;
    word-break: break-all;
    padding: .5rem;
    user-select: all;
    background-color: #242424;
    font: 1rem monospace;
    overflow-y: auto;
    /*scrollbar hiding*/
    -ms-overflow-style: none;
    scrollbar-width: none;
}
code.copy::-webkit-scrollbar, textarea.paste::-webkit-scrollbar {
    display: none;
}

textarea.paste {
    border: none;
    resize: none;
    outline: none;
    transition: background-color .25s cubic-bezier(.8, .19, .25, .94);
}

textarea.paste:focus {
    background-color: #303030;
}

div.Create, div.Accept {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

div.ConnectionHandler {
    display: grid;
    grid-template-columns: 1fr 1fr;
}