p, button {
  color: #dcddde;
  font-size: 1vw;
}

button {
  background-color: #3b3b3b;
  /* margin: .5vw; */
  padding: 1vw;
}

.CreateOffer {
  display: flex;
  flex-direction: column;
}

.message {
  display: flex;
  flex-direction: row;
  background-color: #303030;
  transition: background-color .25s cubic-bezier(.43, 0, .2, 1);
}

.message:hover {
  background-color: #3b3b3b;
  transition: background-color .5s cubic-bezier(.81, .11, .23, .85);
  transition-delay: .25s;
}

.Avatar {
  flex-shrink: 1;
  flex-basis: 2.5vw;
  margin: .5vw;
}

.messageText {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.name, .messageContent {
  margin: .2vw .5vw;
}