.App {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

code.copy, textarea.paste {
    flex: 1 1 12em;
    word-break: break-all;
    padding: .5rem;
    user-select: all;
    background-color: #242424;
    font: 1rem monospace;
    overflow-y: auto;
}

textarea.paste {
    border: none;
    resize: none;
    outline: none;
    transition: background-color .25s cubic-bezier(.8, .19, .25, .94);
}

textarea.messageBox {
    border: none;
    outline: none;
    flex-grow: 1;
    padding: 1rem;
    background-color: #242424;
    resize: none;
    /* height: min-content; */
    transition: background-color .75s cubic-bezier(.55, .16, .44, .93);
}

textarea.messageBox:focus {
    background-color: #272727;
}

textarea.messageBox:disabled {
    background-color: #131313;
}

textarea.paste:focus {
    background-color: #303030;
}

div.Create, div.Accept {
    display: flex;
    flex-direction: column;
    flex: 1 1 0px;
    width: 0;
}

div.ConnectionHandler {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

div.ConnectionState {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 1rem;
    background-color: #242424;
    align-items: center;
    justify-content: center;
}

p.connection {
    margin: .25rem 0;
}